html,
body {
  height: 100%;
  background: #34568b;
}
.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row {
  flex: 1;
}
.col-md-6 {
  background: #d4f5f5;
  padding: 50px;
}
.display-3 {
  text-align: center;
  font-weight: 400;
}
.form-group {
  text-align: center;
  padding: 20px;
}
.btn-success {
  width: 100%;
}
label {
  font-size: 1.2rem;
  font-weight: 400;
}
